// General Style
body {
	font-family: 'Raleway', sans-serif;
	padding: 3rem 0rem;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Cinzel', serif;
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}
.navbar {
  margin-bottom: 20px;
}

// Carousel
.carousel {
  background:#007aeb;
}
.carousel-item .img-fluid {
  width:100%;
}
.carousel-item a {
  display: block;
  width:100%;
}

// Jumbotrons
.jumbotron {
	background-color: #333;
	margin-bottom: 1rem;
}

// Buttons
.cta-center-btn {
	margin: 0 auto;
}


